/** HEADER **/
* {
  font-family: "Comic Sans MS";
}

#header-nav {
	background-color: #ebd8d8;
	border-radius: 0;
	border: 0;
}

/** .navbar-header **/
button.navbar-toggle, .navbar-header, .icon-bar {
  border: 1px solid #61122f;
}


/** .navbar-header **/
button.navbar-toggle {
  clear: both;
  margin-top: 20px;
}

.dropdown-menu {
	width: 100%;
	padding: 0;
	border-radius: 0;
	border: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-menu>li>a {
	text-align: center;
    border-color: #b38193;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 0;
    font-weight: bold;
    font-size: 1.2em;
	background-color: #fdc1c1;
}


#navbar-brand {
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

/** END HEADER **/

.jumbotron {
	background-color: #faffa5;
}

#menu-text p {
    font-weight: bold;
    font-size: 1em;
}

#beef-menu {
	color: #6365bf;
	background-color: #ded1e0;
	width: 100%;
}